
#colorButton {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: lightblue;
    border: 2px solid rgb(15, 15, 16);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #colorButton:hover {
    opacity: 0.9;
  }
  